[submodule "3th-party/qxtglobalshortcut5"]
	path = 3th-party/qxtglobalshortcut5
	url = https://github.com/R1tschY/qxtglobalshortcut5.git

[submodule "3th-party/cpp-utils"]
	path = 3th-party/cpp-utils
	url = https://github.com/R1tschY/cpp-utils.git
[submodule "cmake/modules"]
	path = cmake/modules
	url = https://github.com/R1tschY/cmake-modules
