# This file is used to ignore files which are generated
# ----------------------------------------------------------------------------

# Eclipse
.*project
.settings

# VS Code
.vscode

# Qt Creator
/*.user.*

# Backups
*~
.*.swp
*.bak
*.autosave
*_resource.rc
.#*
*.*#

# generated
Makefile*
moc_*.cpp
ui_*.h
qrc_*.cpp
*.res
*.rc
*.db

# QtCreator
*.pro.user*
CMakeLists.txt.user

# Binaries
*.dll
*.exe
*.so
*.o
*.so
*.so.*
*.a

# Build
build*
